/* Make each footer item in-line so they stack horizontally instead of vertically */
.bd-footer .footer-items__start {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: space-between;
}
