/*body {*/
/*direction: rtl;*/
/*}*/

.wy-nav-side, .wy-nav-content, .wy-nav-top {
    direction: rtl;
}

.wy-plain-list-disc li, .rst-content .section ul li, .rst-content .toctree-wrapper ul li, article ul li {
    margin-right: 24px;
}

.wy-breadcrumbs li.wy-breadcrumbs-aside {
    float: left;
}

.float-right {
    float: left;
}

.wy-plain-list-decimal li, .rst-content .section ol li, .rst-content ol.arabic li, article ol li {
    margin-right: 24px;
}