.wy-side-nav-search {
    background-color: #008de4;
}

html[lang=ar] {
    direction: rtl;
}

.wy-nav-side[lang=ar], .rst-versions[lang=ar] {
    right:0;
}

.wy-nav-content-wrap[lang=ar] {
    margin-right: 300px;
}
